{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block page_content %}
    <div class="page-container">



                <form method="post"  class="form">
                    <h2 class="title">Login</h2>
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary">Login</button>
                </form>

                <h3 class="help">Don't have an account?</h3>
        <h3 class="help">Create one <a href="{% url 'register' %}" class="link-help">here</a></h3>
        </div>



{% endblock %}